.nav {
    grid-area: n;
    background-color: deepskyblue;
    padding: 20px;
}
.item a {
    color: white;
    text-decoration: none;
}

.elements {
    margin-top: 50px;
}

.item a.activeLink {
    color: orangered;
}

.friendsItem {
    display: flex;
    justify-content: space-between;
}

.friendsComponent {
    display: inline-block;
    width: 35px;
    height: 35px;
    margin: 5px;
    margin-top: 10px;
    border-radius: 50%;
    background: silver;
}

.friendsComponent:hover {
    /*display: inline-block;*/
    border: 1px solid red;
}