.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
    padding: 20px 20px;
}

.dialogsItems {

}

.dialog a {
    text-decoration: none;
    color: white;
}

.dialog a.active {
    color: gold;
}

.messages {
}

.message {

}

